<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
	</head>
	<body>
		<h1><%= @connectee1.name %> and <%= @connectee2.name %>,</h1>
			<p><%= @connector.name %> thought it was important for your to connect because:</p>
			<p><%= @reason %></p>
    <h2>Possible next steps:</h2>
      <p>Reply all to this message and:</p>
      <ul>
        <li>Schedule a phone call or meeting.</li>
        <li>Share </li>
      </ul>
	</body>
</html>