<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
	</head>
	<body>
		<h1>You've been sent an connection email</h1>
			<p>CONNECTION wants you to introduce you to CONNECTEE2</p>
			<p>All you have to click accept</p> 
			<p>If CONNECTEE1 also wants to exchange contact info, we'll email you the info.</p>
	</body>
</html>