<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charste=UTF-8" http-eqiv="Content-Type"
	</head>
	<body>
		<h1>You've been sent an connection email</h1>
			<p>CONNECTION wants you to introduce you to CONNECTEE2</p>
	</body>
</html>