<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
	</head>
	<body>
		<h1>Your new connection.</h1>
			<p><%= @connector.name %> thinks you should meet <%= @connectee1.name %>, because:</p>
			<blockquote><%= @reason %></blockquote>
	</body>
</html>