<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"
	</head>
	<body>
		<h1>Success</h1>
    <h2>You've created a new connection.</p>
      <p>The connection you initiated between <%= @connectee1.name %> and <%= @connectee2.name %> was succesful. Both received an email to create the connection, with your reason:</p>
      <p><%= @reason %></p>
		</body>
</html>