<div id="intro">
  <div class="container">
    <h1>Email Intros Shouldn't Be Hard</h1>
      <h2>We cut out the back & forth</h2>
    <%= link_to "Try Now", new_connection_path, :class => 'btn btn-large btn-success' %>
  </div>
</div>
<div id="welcome">
  <div class="container">
    <h2>You've got two acquitances to introduce. Simple, right?</h2>
      <h4>Step #1 You ask each for permission to share contact info.</h4>
      <h4>Step #2 They each respond.</h4>
      <h4>Step #3 Then, you send an email introducing the two.</h4>
  </div>
</div>
<div id="explain">
  <div class="container">
    <h2>That's 5 emails, plus tracking the exchanges.</h2>
      <h3>Try Conxer in 30 seconds and you're work is done.</h3>
    <%= link_to "Get Started", new_connection_path, :class => 'btn btn-large btn-success' %>
  </div>
</div>